<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Ensure proper rendering and touch zooming -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
  <title>积分商城</title>
  <link rel="icon" href="images/favico.ico">
  <!-- Root font size setup for different screen sizes -->
  <script src="./js/base.js"></script>
  <!-- Element UI styles -->
  <link rel="stylesheet" href="../backend/plugins/element-ui/index.css" />
  <!-- Vant styles -->
  <link rel="stylesheet" href="styles/vant.min.css"/>
  <!-- Custom styles -->
  <link rel="stylesheet" href="styles/index.css" />
  <!-- Page-specific styles -->
  <link rel="stylesheet" href="styles/main.css" />
</head>
<body>
<div id="main" class="app">
  <div class="divHead">
    <img src="./images/user.png" @click="toUserPage"/>
  </div>
  <div class="divTitle">
    <div class="divStatic">
      <img src="./images/logo.png" class="logo"/>
      <div class="divDesc">
        <div class="divName">积分商城</div>
        <div class="divSend">
          <span><img src="./images/time.png"/> 欢迎下单 </span>
        </div>
      </div>
    </div>
    <div class="divDesc">
      积分商城提供精选商品、精品服务
    </div>
  </div>
  <div class="divBody">
    <div class="divType">
      <ul>
        <li v-for="(item, index) in categoryList" :key="index" @click="categoryClick(index, item.id)"
            :class="{active: activeType === index}">{{item.name}}</li>
      </ul>
    </div>
    <div class="divMenu">
      <div>
        <div class="divItem" v-for="(item, index) in productList" :key="index">
          <el-image :src="imgPathConvert(item.image)" >
            <div slot="error" class="image-slot">
              <img src="./images/noImg.png"/>
            </div>
          </el-image>
          <div>
            <div class="divName">{{item.name}}</div>
            <div class="divDesc">{{item.description}}</div>
            <div class="divDesc">{{item.stock > 0 ? '库存' + item.stock : '待补货'}}</div>
            <div class="divBottom"><span>{{item.price}}</span></div>
            <div class="divNum">
              <div class="divSubtract" v-if="item.number > 0">
                <img src="./images/subtract.png" @click.prevent.stop="subtractCart({ ...item, dishId: item.id })"/>
              </div>
              <div class="divDishNum">{{item.number}}</div>
              <div class="divAdd">
                <img src="./images/add.png" v-if="item.stock > 0" @click.prevent.stop="addCart(item)"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divLayer">
    <div class="divLayerLeft"></div>
    <div class="divLayerRight"></div>
  </div>
  <div class="divCart" v-if="categoryList.length > 0">
    <div :class="{imgCartActive: cartData && cartData.length > 0, imgCart: !cartData || cartData.length < 1}" @click="openCart"></div>
    <div :class="{divGoodsNum: 1 === 1, moreGoods: cartData && cartData.length > 99}" v-if="cartData && cartData.length > 0">{{ goodsNum }}</div>
    <div class="divNum">
      <span>{{goodsPrice}}</span>
    </div>
    <div class="divPrice"></div>
    <div :class="{btnSubmitActive: cartData && cartData.length > 0, btnSubmit: !cartData || cartData.length < 1}" @click="toAddOrderPage">去结算</div>
  </div>
  <van-popup v-model="cartDialogShow" position="bottom" :style="{ height: '50%' }" class="dialogCart">
    <div class="divCartTitle">
      <div class="title">购物车</div>
      <div class="clear" @click="clearCart">
        <i class="el-icon-delete"></i> 清空
      </div>
    </div>
    <div class="divCartContent">
      <div v-for="item in cartData" :key="item.id" class="divCartItem">
        <el-image :src="imgPathConvert(item.image)" >
          <div slot="error" class="image-slot">
            <img src="./images/noImg.png"/>
          </div>
        </el-image>
        <div class="divDesc">
          <div class="name">{{item.name}}</div>
          <div class="price">
            <span class="spanMoney"></span>{{item.amount}}</div>
        </div>
        <div class="divNum">
          <div class="divSubtract">
            <img src="./images/subtract.png" @click="cartNumberSubtract({ ...item, id: item.productId || item.id })"/>
          </div>
          <div class="divCartNum">{{item.number}}</div>
          <div class="divAdd">
            <img src="./images/add.png" @click="cartNumAdd({ ...item, id: item.productId || item.id })"/>
          </div>
          <div class="divSplit"></div>
        </div>
      </div>
    </div>
  </van-popup>
  <van-dialog v-model="detailsDialog.show" :show-confirm-button="false" class="detailsDialog" ref="detailsDialog" v-if="detailsDialog.show">
    <div class="divContainer">
      <el-image :src="imgPathConvert(detailsDialog.item.image)">
        <div slot="error" class="image-slot">
          <img src="./images/noImg.png"/>
        </div>
      </el-image>
      <div class="title">{{detailsDialog.item.name}}</div>
      <div class="content">{{detailsDialog.item.description}}</div>
    </div>
    <div class="divNum">
      <div class="left">
        <span>{{detailsDialog.item.price}}</span>
      </div>
      <div class="right">
        <div class="divSubtract" v-if="detailsDialog.item.number > 0">
          <img src="./images/subtract.png" @click="subtractCart({ ...detailsDialog.item, dishId: detailsDialog.item.id })"/>
        </div>
        <div class="divDishNum">{{detailsDialog.item.number}}</div>
        <div class="divAdd">
          <img v-if="detailsDialog.item.stock > 0" src="./images/add.png" @click="addCart(detailsDialog.item)"/>
        </div>
      </div>
    </div>
    <div class="detailsDialogClose" @click="detailsDialog.show = false">
      <img src="./images/close.png"/>
    </div>
  </van-dialog>
</div>
<!-- Development version with helpful console warnings -->
<script src="../backend/plugins/vue/vue.js"></script>
<!-- Importing the component library -->
<script src="../backend/plugins/element-ui/index.js"></script>
<!-- Importing Vant styles -->
<script src="./js/vant.min.js"></script>
<!-- Importing Axios -->
<script src="../backend/plugins/axios/axios.min.js"></script>
<script src="./js/request.js"></script>
<script src="./js/common.js"></script>
<script src="./api/main.js"></script>
<script>
  new Vue({
    el: '#main',
    data() {
      return {
        // Active category index
        activeType: 0,
        categoryList: [],
        categoryId: undefined,
        productList: [],
        cartData: [],
        cartDialogShow: false,
        detailsDialog: {
          show: false,
          item: { image: '' }
        }
      };
    },
    computed: {
      goodsNum() {
        let num = 0;
        this.cartData.forEach(item => {
          num += item.number;
        });
        return num < 99 ? num : '99+';
      },
      goodsPrice() {
        let price = 0;
        this.cartData.forEach(item => {
          price += (item.number * item.amount);
        });
        return price;
      }
    },
    created() { },
    watch: {
      'detailsDialog.show'(flag) {
        if (flag) {
          document.querySelector('.divCart').style.zIndex = 1;
        } else {
          document.querySelector('.divCart').style.zIndex = 3000;
        }
      },
    },
    mounted() {
      this.initData();
    },
    methods: {
      // Initialize data
      initData() {
        Promise.all([categoryListApi(), cartListApi({})]).then(res => {
          // Fetch category data
          if (res[0].code === 1) {
            this.categoryList = res[0].data;
            if (Array.isArray(res[0].data) && res[0].data.length > 0) {
              this.categoryId = res[0].data[0].id;
              this.getProductList();
            }
          } else {
            this.$notify({ type: 'warning', message: res[0].msg });
          }
          // Fetch cart data
          if (res[1].code === 1) {
            this.cartData = res[1].data;
          } else {
            this.$notify({ type: 'warning', message: res[1].msg });
          }
        });
      },
      // Category click handler
      categoryClick(index, id) {
        this.activeType = index;
        this.categoryId = id;
        // Fetch products
        this.getProductList();
      },
      // Fetch product list
      async getProductList() {
        if (!this.categoryId) {
          return;
        }
        const res = await productListApi({ categoryId: this.categoryId, status: 1 });
        if (res.code === 1) {
          let productList = res.data;
          const cartData = this.cartData;
          if (productList.length > 0 && cartData.length > 0) {
            productList.forEach(product => {
              cartData.forEach(cart => {
                if (product.id === cart.productId) {
                  product.number = cart.number;
                }
              });
            });
          }
          this.productList = productList;
        } else {
          this.$notify({ type: 'warning', message: res.msg });
        }
      },
      // Fetch cart data
      async getCartData() {
        const res = await cartListApi({});
        if (res.code === 1) {
          this.cartData = res.data;
          console.log("购物车数据", this.cartData);
        } else {
          this.$notify({ type: 'warning', message: res.msg });
        }
      },
      // Add product to cart
      async addCart(item) {
        // Check stock
        if (item.stock <= item.number) {
          this.$notify({ type: 'warning', message: '库存不足，无法添加更多该商品。' });
          return;
        }
        let params = {
          amount: item.price, // Amount
          productId: item.id, // Product ID
          name: item.name,
          image: item.image,
          stock: item.stock
        };
        console.log("产品信息",params)
        const res = await addCartApi(params);
        if (res.code === 1) {
          this.productList.forEach(product => {
            if (product.id === item.id) {
              product.number = res.data.number;
              this.getCartData();
            }
          });
        } else {
          this.$notify({ type: 'warning', message: res.msg });
        }
      },
      // Remove product from cart
      async subtractCart(item) {
        let params = {
          productId: item.id
        };
        const res = await updateCartApi(params);
        if (res.code === 1) {
          this.productList.forEach(product => {
            if (product.id === item.id) {
              product.number = (res.data.number === 0 ? undefined : res.data.number);
            }
          });
          this.getCartData();
        } else {
          this.$notify({ type: 'warning', message: res.msg });
        }
      },
      // Open cart
      openCart() {
        if (this.cartData.length > 0) {
          this.cartDialogShow = true;
        }
      },
      // Increase product quantity in cart
      async cartNumAdd(item) {
        let params = {
          amount: item.amount, // Amount
          productId: item.id, // Product ID
          name: item.name,
          image: item.image
        };
        console.log("参数",params,this.cartData)
        const res = await addCartApi(params);
        if (res.code === 1) {
          this.productList.forEach(product => {
            if (product.id === item.id) {
              product.number = res.data.number;
            }
          });
          this.getCartData();
        } else {
          this.$notify({ type: 'warning', message: res.msg });
        }
      },
      // Decrease product quantity in cart
      async cartNumberSubtract(item) {
        let params = {
          productId: item.id
        };
        const res = await updateCartApi(params);
        if (res.code === 1) {
          this.productList.forEach(product => {
            if (product.id === item.id) {
              product.number = (res.data.number === 0 ? undefined : res.data.number);
            }
          });
          this.getCartData();
        } else {
          this.$notify({ type: 'warning', message: res.msg });
        }
      },
      // Clear cart
      async clearCart() {
        const res = await clearCartApi();
        if (res.code === 1) {
          this.productList.forEach(product => {
            product.number = undefined;
          });
          this.cartData = [];
          this.cartDialogShow = false;
        } else {
          this.$notify({ type: 'warning', message: res.msg });
        }
      },
      // Convert image path
      imgPathConvert(path) {
        return imgPath(path);
      },
      // Navigate to order page
      toAddOrderPage() {
        if (this.cartData.length > 0) {
          window.requestAnimationFrame(() => {
            window.location.href = '/front/page/add-order.html';
          });
        }
      },
      // Navigate to user page
      toUserPage() {
        window.requestAnimationFrame(() => {
          window.location.href = '/front/page/user.html';
        });
      },
      // Show product details
      async ProductDetails(item) {
        this.detailsDialog.item = {};
        this.detailsDialog.item = item;
        this.detailsDialog.show = true;
      }
    }
  });
</script>

</body>
</html>
