<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
    <title>任务接单</title>
    <link rel="icon" href="./../images/favico.ico">
    <!--不同屏幕尺寸根字体设置-->
    <script src="./../js/base.js"></script>
    <!--element-ui的样式-->
    <link rel="stylesheet" href="../../backend/plugins/element-ui/index.css" />
    <!-- 引入样式  -->
    <link rel="stylesheet" href="../styles/index.css" />
    <!--引入vant样式-->
    <link rel="stylesheet" href="../styles/vant.min.css"/>
    <!--本页面内容的样式-->
    <link rel="stylesheet" href="./../styles/order.css" />
</head>
<body>
<div id="order" class="app">
    <div class="divHead">
        <div class="divTitle">
            <i class="el-icon-arrow-left" @click="goBack"></i>任务中心
        </div>
    </div>

    <div class="divBody" v-if="taskList.length > 0">
        <van-list
                v-model="loading"
                :finished="finished"
                finished-text="没有更多了"
                @load="getList"
        >
            <van-cell v-for="(task,index) in taskList" :key="task.id" class="item">
                <div class="timeStatus">
                    <span>结束时间：{{task.endTime}}</span>
                    <span>{{getStatus(task.status)}}</span>
                    <!-- <span>正在派送</span> -->
                </div>
                <div class="taskDetails">
                    <div class="taskName">
                        <span>任务名称: {{ task.taskName }}</span>
                    </div>
                    <div class="taskDescription">
                        <span>悬赏积分: {{ task.score }}</span>
                    </div>
                    <div class="taskDescription">
                        <span>任务描述: {{ task.taskDes }}</span>
                    </div>

                    <div class="opration" v-if="task.status == 0">
                        <el-button size="mini" class="right-aligned-button" @click="handleClick(task.id)">接单</el-button>
                    </div>
                </div>

            </van-cell>
        </van-list>
    </div>



    <div class="divNoData" v-else>
        <div class="divContainer">
            <img src="./../images/no_order.png"/>
            <div>暂无任务</div>
        </div>
    </div>
</div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../../backend/plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../backend/plugins/element-ui/index.js"></script>
<!-- 引入vant组件 -->
<script src="./../js/vant.min.js"></script>
<!-- 引入axios -->
<script src="../../backend/plugins/axios/axios.min.js"></script>
<script src="./../js/request.js"></script>
<script src="./../api/task.js"></script>
<script src="./../api/tasku.js"></script>

<script>
    new Vue({
        el:"#order",
        data(){
            return {
                paging:{
                    page:1,
                    pageSize:5
                },
                taskList:[],
                loading:false,
                finished:false
            }
        },
        computed:{},
        created(){
            this.initData()
        },
        mounted(){},
        methods:{
            goBack(){
                const url = document.referrer
                //表示是从订单页面跳转过来的
                if(url.includes('success')){
                    window.requestAnimationFrame(()=>{
                        window.location.href= '/front/index.html'
                    })
                }else{
                    history.go(-1)
                }
            },
            initData(){
                this.getList()
            },
            async getList(){
                if(this.finished){
                    this.loading = false;
                    return
                }
                const res = await TaskListApi(this.paging)
                if(res.code === 1){
                    this.taskList.push(...res.data.records)

                    this.loading = false;
                    if(this.paging.page >= res.data.pages){
                        this.finished = true;
                    }
                    this.paging.page = this.paging.page + 1
                }else{
                    this.$notify({ type:'warning', message:res.msg});
                }
            },
            async getTask(taskId){
                console.log("rnm")
                const res = await addTaskU(taskId)

                this.$notify({ type:'warning', message:res.msg});
            },
            handleClick(taskId) {
                console.log("任务id："+taskId)
                this.getTask(taskId)
                this.initData()
            },
            getStatus(status){
                let str = ''
                switch(status){
                    case 0:
                        str =  '未接单'
                        break;
                    case 1:
                        str =  '已被接'
                        break;

                }
                return str
            },

        }
    })
</script>
<style scoped>

    .right-aligned-button {
        float: right;
        margin-left: auto;
    }
</style>
</body>
</html>